body {
    background: rgb(77, 77, 77);
    color: rgb(241, 241, 241);
    text-align: center;
    margin-top: 50px;
}

.fill {
    background-image: url('http://source.unsplash.com/random/150*150');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.empty {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px rgb(77, 77, 77) solid;
    background-color: rgb(165, 164, 164);
    border-radius: 8px;
}

.hold {
    border: solid lightgray 4px;
}

.hovered {
    background: #fff;
    border-style: dashed;
}

.invisible {
    display: none;
}